{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% block title %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="比特币，BTC，Bitcoin，疯狂比特币，山寨币，AltCoin，莱特币，LTC、阿侬币，ANC、质数币，XPM、安全币，SRC、比特股，PTS、瑞波币，XRP，免费比特币，FreeBTC，Free Bitcoin，免费领取比特币，免费获得比特币，免费获取比特币，免费送比特币，免费拿比特币，免费得比特币，比特币导航，比特币网址导航，免费比特币导航，免费比特币网址导航，山寨币导航，山寨币网址导航，比特币论坛网址导航">
	<meta name="description" content="FreeBTC123 - 挖矿获取比特币，现在俨然已成为装备竞赛的时代；没有高性能矿机，挖不倒比特币，而又想搞那么一点比特币玩玩，怎么办？免费获取比特币网址导航为您带来各种可以免费获取比特币的网站，希望对您的比特币之旅有所助益。免费获取比特币网址导航网站希望你不用耗费时间精力寻找，只要收藏本站就不用担心错过某些慷慨的网站，这是本站努力的方向。这里提供不断更新的可以免费获得比特币的网站的索引。本站的另一个目的就是推广比特币这一具有改变世界潜力的新兴事物。当然，本站还囊括了山寨币网址导航、比特币论坛网址导航，借此希望全方位的让您的比特币之旅更方便快捷。">
	<meta name="author" content="Qimin Huang -- qiminis0801#gmail.com">

	<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
	
	<!-- Le styles -->
	<link href="{% static 'css/btc.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/pam.css' %}" rel="stylesheet">
	{% block css %}
	{% endblock %}
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?274c8b6d6fc7792b8535960f32552b2d";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="brand" href="{% url 'freebtc123:fav' %}"><font color="#cccccc">Free</font><font
					color="#eeeeee">BTC</font><font color="gray">123</font></a>
				<div class="nav-collapse collapse">
				    <ul class="nav" id="main-menu-left">
					    <!-- http://stackoverflow.com/questions/3057318/passing-variable-urlname-to-url-tag-in-django-template -->
						{% for n in nav %}
							<li><a rel="tooltip" href="{% url 'freebtc123:'|add:n.navName %}" title="freebtc">{{ n.navTitle}}</a></li>
						{% endfor %}
			        </ul>
					<ul class="nav pull-right">
                        {% if usr %}					
                            <li>
                                <a>{{ usr }}</a>
                            </li>
							<li class="dropdown">
							    <a data-toggle="dropdown" class="dropdown-toggle"><strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'accounts:logout' %}">退出</a>
                                    </li>
                                </ul>
							</li>
                        {% else %}
						    <li>
                                <a href="{% url 'accounts:login' %}" id="login">登录</a>
                            </li>
                        {% endif %}						
                    </ul>
					<form class="navbar-form pull-right form-inline" action="http://www.google.com.hk/search" target="_blank">
						<input id="kw" class="span2" type="text" name="q" placeholder="Google It">
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="bodyer fixed">
		<div class="container">
			<div class="ads wallet">
				<p class="pull-right">
					<input onFocus="if(this.value=='登录之后，这里显示您的比特币钱包地址'){this.value='';this.style.color='#000'}" 
						onBlur="if(this.value==''){this.value='登录之后，这里显示您的比特币钱包地址';this.style.color='#D1D1D1'}" 
						type="text" name="wallet" id="wallet" 
						value="{% if wallet %}{{ wallet }}{% else %}登录之后，这里显示您的比特币钱包地址{% endif %}" />
					<button id="copy_input" class="copy"><font>复制</font></button>
				</p>
				<p class="pull-left"><button><font>比特币新手？点击"<a href="{% url 'freebtc123:newtobtc' %}" target="_blank">比特币新手导航</a>"了解更多</font></button></p>
			</div>
		</div>
	</div>
	
	<div id="bodyer" class="bodyer margintop">
		{% block bodyer %}
			<div class="container">
				<div class="row block margint50">
					<div class="span12 margint50">
						<div class="ads">
							<p class="pull-right"><iframe scrolling="no" style="border: 0; width: 234px; height: 60px;" src="//coinurl.com/get.php?id=21865"></iframe></p>
							<p><iframe scrolling="no" style="border: 0; width: 468px; height: 60px;" src="//coinurl.com/get.php?id=21862"></iframe></p>
						</div>
				
						<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<b>风险提示</b>：</br>
							<span>1、比特币的交易有<b>极高的风险</b>，它没有像中国股市那样的<b>涨跌停限制</b>，同时交易是<b>24小时开放</b>的。比特币由于筹码较少，价格<b>易受到庄家控制</b>，有可能出现一天价格涨几倍的情况，同时也可能出现<b>一天内价格跌去一半</b>的情况！<b>入市须谨慎，一定注意控制好风险！</b></span>
							<span>2、选择交易平台一定要慎重，谨防交易平台<b>关站携款跑路</b>，造成您钱、币损失！<b>跑路案例：BTC888.NET</b></span>
							<span>3、大家一定要妥善保管好<b>钱包、交易平台</b>帐户信息，不要轻易告诉其他人，以免丢失钱、币！</span>
						</div>
		
						{% block alert %}
						{% endblock %}
					</div>
				</div>
		
				{% block befcon %}
				{% endblock %}
		
				{% block content %}
					{% for cs in csysite %}
						<div class="row table-responsive block">
							<div class="span12">
								<div>
									<h2><p class="pull-right"><a href="{% url 'freebtc123:btcreaper' cs.id %}" target="_blank">Reaper</a></p></h2>
									<h2><p>{{ cs.csyName|safe }}</p></h2>
								</div>
								<div class="description">
									<span>{{ cs.csyDescription|safe }}</span>
								</div>
								<table id="table{{ cs.id }}" class="table table-bordered table-striped table-hover table-condensed table-layout sortable">
									<thead>
										{% include 'common/sections/theader.html' %}
									<thead>
									<tbody>
										{% for site in cs.siteSet %}
											{% include 'common/sections/tbodyer.html' %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					{% endfor %}
				{% endblock %}
		
				{% block aftcon %}
				{% endblock %}
			</div>
			<!-- /container -->
		{% endblock %}
	</div>
	
	<div id="footer" class="footer">
		<div class="container">
			<div class="row block">
				<div class="span12 margintads">
					<div class="ads">
						<p class="pull-right"><iframe scrolling="no" style="border: 0; width: 468px; height: 60px;" src="//coinurl.com/get.php?id=21870"></iframe></p>
						<p><iframe scrolling="no" style="border: 0; width: 234px; height: 60px;" src="//coinurl.com/get.php?id=21873"></iframe></p>
					</div>
				</div>
			</div>
			
			<div class="row block">
				<div class="span12 margintads">
					<div class="text-center">
						<div class="row-fluid text-center">
							<h4>友情链接</h4>
						</div>
					</div>
					<div class="pflink">
						<div class="row-fluid text-center">
							<ul>
								<li><a href="http://www.huanle95.com/" target="_blank"><img border="0" src="{% static 'img/huanle95.png' %}" class="img-polaroid" alt="购物返利网站：欢乐95" title="购物返利网站：欢乐95"></a></li>
							</ul>
						</div>
					</div>
					<div class="wflink">
						<div class="row-fluid text-center">
							<ul>
								<li><a href="http://www.btcbbb.com/forum.php" target="_blank" title="比特币（Bitcoin）论坛BTCBBB.COM是中文比特币交流社区，你可以了解比特币入门、比特币挖矿、比特币技术方面的相关知识。论坛还提供担保交易及比特币商店的相关业务。">比特币交流论坛</a></li>
							</ul>
						</div>
						<div class="row-fluid text-center">
							<ul>
								<li><a href="http://freebtc123.com/" target="_blank" title="FreeBTC123 - 免费获取比特币网址导航">FreeBTC123</a></li>
								<li><a href="http://herebtc.com/" target="_blank" title="HereBTC - 免费获取比特币网址导航">HereBTC</a></li>
								<li><a href="http://www.bitcoinvester.com/" target="_blank" title="BitcoinVester - 免费获取比特币网址导航">BitcoinVester</a></li>
								<li><a href="http://freebtc.qiniudn.com/" target="_blank" title="FreeBTC.QiNiu - 免费获取比特币网址导航">FreeBTC.QiNiu</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	
			<div class="row block">
				<div class="span12 margintads">
					<div class="row-fluid">
						<div class="span4">
							<p><a href="{% url 'freebtc123:about' %}" target="_blank">关于FreeBTC</a></p>
							<p>
								<a href="https://github.com/Brightcells/btc" target="_blank" title="网站Github源码地址"><img border="0" src="{% static 'img/github.jpg' %}" class="img-polaroid icon" alt="网站Github源码地址" title="网站Github源码地址"></a>
								<a href="http://weibo.com/u/3880423895" target="_blank" title="BrightCells微博"><img border="0" src="{% static 'img/weibo.ico' %}" class="img-polaroid icon" alt="BrightCells微博" title="BrightCells微博"></a>
								<a href="http://shang.qq.com/wpa/qunwpa?idkey=918cb7851be09cbe5906d95986dd126940a8de39ec8e74aff07a685cad2c58ce" target="_blank"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" class="img-polaroid iconlong" alt="FreeBTC123免费比特币讨论群44407854" title="FreeBTC123免费比特币讨论群44407854"></a>
							</p>
							<p>&copy; FreeBTC123 2013</p>
							<p>Powered by <a href="http://www.brightcells.com/" target="_blank" title="BrightCells团队官网">BrightCells</a> !</p>
						</div>
						<div class="span4 borderlr text-center">
							<span id="bitcoin-chan-widget_160x225" lang="zh" home="cny"><a href="http://www.bitcoin-chan.com/">(C)Bitcoin-chan Project</a> <a href="http://satoshinakamoto.jp/bitcoin-chan-widget.php">比特币娘小部件</a></span>
							<script type="text/javascript" src="http://satoshinakamoto.jp/js/bitcoin-chan-widget_160x225.js"></script>
						</div>
						<div class="span4">
							<p class="pull-right text-center">
								<img src="https://blockchain.info//Resources/buttons/donate_64.png"><br>
								<span>13Y4K9Lkrd9rCxHnF8b3axUKbjtA3ZWF1d</span><br>
								<img src="https://blockchain.info/qr?data=13Y4K9Lkrd9rCxHnF8b3axUKbjtA3ZWF1d&size=200" alt="接收捐赠钱包地址二维码" title="接收捐赠钱包地址二维码"><br>
								<script src="http://coinwidget.com/widget/coin.js"></script>
								<script>
									CoinWidgetCom.go({
										wallet_address: "13Y4K9Lkrd9rCxHnF8b3axUKbjtA3ZWF1d"
										, currency: "bitcoin"
										, counter: "count"
										, alignment: "bl"
										, qrcode: true
										, auto_show: true
										, lbl_button: "Donate"
										, lbl_address: "My Bitcoin Address:"
										, lbl_count: "donations"
										, lbl_amount: "BTC"
									});
								</script>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->
	</div>
	
	<a id="controlbg" class="controlbg" href="javascript:controlbg();"></a>
	<a id="backtop" class="backtop" href="javascript:backtop();"></a>

	<!-- Begin BShare -->
	<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#uuid=&amp;style=4&amp;fs=4&amp;bgcolor=Grey"></script>
	<!-- End BShare -->
	
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/TSorter_1.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/btc.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/pam.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.zclip.min.js' %}" type="text/javascript"></script> 
	<script>
	    (function(){
		    var url = window.location.pathname;
			var nav = url.split("/")[1];
			//if(nav in {"": "", "freebtc": ""}){
			if(nav in {"": "", "accounts": "accounts"}){
				// do nothing
			}else{
				$(".nav a").each(function(){
				    // Because of <ul class="nav pull-right"> has 'a' tag without 'href'
					// So we should judge it first
					var navHerf = this.getAttribute("href")
					if(navHerf && navHerf.indexOf(url.split("/")[1]) != -1){
						$(".nav .active").removeAttr("class");
						$(this).parent().addClass("active");
					}
				});
			}
			
			var second = 60000; //间隔时间60秒钟
			setInterval('alterLeftTime()', second)
		})();
		
		$(function(){ 
			$("#copy_input").zclip({ 
				path: "{% static 'js/ZeroClipboard.swf' %}", 
				copy: function(){//复制内容
					return $("#wallet").val(); 
				}, 
				afterCopy: function(){//复制成功 
					$("<button id='msg' class='msg'><font>复制成功</font></button>").insertAfter($('#copy_input')).fadeOut(2000);
				} 
			}); 
		}); 
		
		var res = ["{% static 'img/background.jpg' %}",];
		_bg(0, res, 10000);
		
		function init(){
			$("table").each(function(){
				if(this.id){
					eval("var Table_" + this.id + "_Sorter = new TSorter");
					eval("Table_" + this.id + "_Sorter.init('" + this.id + "')");
				}
			});
		}
	
		window.onload = init;
	</script>
	
	{% block script %}
		<script>
			$(document).ready(function(){
				$('.icon-thumbs-up').click(function(){
				    like(this, true);	 
				});
				
				$('.icon-thumbs-down').click(function(){
					like(this, false);	 
				});
				
				$('.icon-bookmark').click(function(){
					var url = "{% url 'freebtc123:favorite' %}";
					var data = {siteid:this.id};
					myLikeFavAjax(this, $(this).next().next(), url, data);
				});
			
				function like(obj, _flag){
					var url = "{% url 'freebtc123:like' %}";
					var data = {flag: _flag, siteid:obj.id};
					myLikeFavAjax(obj, $(obj).next(), url, data);
				}
			});
		</script>
	{% endblock %}
</body>
</html>
