{% extends "common/btc.html" %}

{% block title %}
	<title>FreeBTC123 - 网站评论</title>
{% endblock %}

{% block alert %}
{% endblock %}

{% block befcon %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row block">
			<div class="span12 margint20">
				<table id="table{{ cs.id }}" class="table table-bordered table-striped table-hover table-condensed table-layout sortable">
					<thead>
						{% include 'common/sections/theader.html' %}
					<thead>
					<tbody>
						{% include 'common/sections/tbodyer.html' %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{% if proof %}
		<div class="container">
			<div class="row block">
				<div class="span12 margintb">
					<div class="hero-unit nopaddinglr nomarginb">
						{% for p in proof %}
							<div class="evaluate">
								<span class="content">{{ p.proofContent }}</span>
							</div>
							{% if forloop.last %}{% else %}<hr>{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	
	{% if eva %}
		<div class="container">
			<div class="row block">
				<div class="span12 margintb">
					<div class="hero-unit nopaddinglr nomarginb">
						{% for e in eva %}
							<div class="evaluate">
								{{ e.evaDateTime|date:"Y-m-d H:i:s" }}</br>
								<span class="content">{{ e.evaContent }}</span>
							</div>
							{% if forloop.last %}{% else %}<hr>{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	
	<div class="container">
		<div class="row block">
			<div class="span12 margintb">
				<div class="hero-unit nopaddinglr nomarginb">
					<div class="divCenter">
						<form class="form-horizontal nomarginb" action="{% url 'freebtc123:proof' siteid %}" method='post'>
							<div class="control-group">
								<label class="control-label" for="inputProofContent"><b>转账记录：</b></label>
								<div class="controls">
									<textarea id="inputProofContent" name="proof" cols="50" rows="2" onscroll="this.rows++;" placeholder="BTC收入转账记录"></textarea>
								</div>
							</div>
							<div class="control-group text-center nomarginb">
									<button type="submit" class="btn">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row block">
			<div class="span12 margintb">
				<div class="hero-unit nopaddinglr nomarginb">
					<div class="divCenter">
						<form class="form-horizontal nomarginb" action="{% url 'freebtc123:evaluate' siteid %}" method='post'>
							<div class="control-group">
								<label class="control-label" for="inputEvaluateContent"><b>评论内容：</b></label>
								<div class="controls">
									<textarea id="inputEvaluateContent" name="content" cols="50" rows="2" onscroll="this.rows++;" placeholder="评论内容"></textarea>
								</div>
							</div>
							<div class="control-group text-center nomarginb">
									<button type="submit" class="btn">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block aftcon %}
{% endblock %}

{% block script %}
	<script>
		(function(){
		    	$(".evaluate span").each(function(){
				    $(this).html($(this).html().httpHtml());
				});
		})();
	</script>
{% endblock %}