{% extends "freebtc123.html" %}

{% block title %}
	<title>FreeBTC123 - 免费获取比特币网址导航</title>
{% endblock %}

{% block alert %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		1、网站一般会设定一个提取BTC的最小值，所以BTC到达您的BTC钱包可能需要若干时间；</br>
		2、一些网站可能无法连接，请按F5多次尝试刷新；</br>
		3、现在的帐号系统服务于收藏页面，后续推出其他帐号相关联服务；</br>
	</div>
{% endblock %}

{% block content %}
				<div class="row table-responsive">
					<div class="span12">
						<a name="unpaid"></a>
						<table class="table table-bordered table-striped table-hover table-condensed table-layout">
							<thead>
								<tr>
									<th width="16%" class="hvcenter">网站名称</th>
									<th width="*%" class="hvcenter">网站描述</th>
									<th width="16%" class="hvcenter">网站链接</th>
									<th width="16%" class="hvcenter">网站评论</th>
									<th width="16%" class="hvcenter">网站评价</th>
									<th width="8%" class="hvcenter">收藏</th>
								</tr>
							<thead>
							<tbody>
								{% for site in favsite %}
									<tr>
										<td class="hvcenter"><div class="tHeight"><span>{{ site.siteName }}</span></div></td>
										<td class="hvcenter"><div class="tHeight"><span title="{{ site.siteDescription|safe }}">{{ site.siteDescription|safe }}</span></div></td>
										<td class="hvcenter"><div class="tHeight"><a id="{{ site.id }}" href="javascript:void(0)" target="_blank" onclick="visit('{% url 'freebtc123:visit' %}', this.id, this.title);return false;" title="{{ site.siteUrl }}">{{ site.siteUrl }}</a></div></td>
										<td class="hvcenter">
											<a href="{% url 'freebtc123:evaluate' site.id %}" target="_blank"><i class="icon-eye-open"></i></a></br>
											{{ site.siteEvaluateNum }}/{{ site.siteClickNum }}
										</td>
										<td class="hvcenter">
											<div class="thumbs-up">
												{% if site.like %}
													<i id="{{ site.id }}" class="icon-thumbs-up icon-white done"></i>
												{% else %}
													<i id="{{ site.id }}" class="icon-thumbs-up"></i>
												{% endif %}
												&nbsp;&nbsp;&nbsp;&nbsp;
												<span>{{ site.siteLikeNum }}</span>
											</div>
											
											<div class="thumbs-down">
												{% if site.unlike %}
													<i id="{{ site.id }}" class="icon-thumbs-down icon-white done"></i>
												{% else %}
													<i id="{{ site.id }}" class="icon-thumbs-down"></i>
												{% endif %}
												&nbsp;&nbsp;&nbsp;&nbsp;
												<span>{{ site.siteUnlikeNum }}</span>
											</div>
										</td>
										<td class="hvcenter">
											{% if site.fav %}
											    <i id="{{ site.id }}" class="icon-bookmark icon-white done"></i></br>
											{% else %}
											    <i id="{{ site.id }}" class="icon-bookmark"></i></br>
											{% endif %}
											<span>{{ site.siteFavNum }}</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
{% endblock %}