{% extends "common/btc.html" %}

{% block title %}
	<title>FreeBTC123 - 免费获取比特币网址导航</title>
{% endblock %}

{% block alert %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		1、网站一般会设定一个提取BTC的最小值，所以BTC到达您的BTC钱包可能需要若干时间；</br>
		2、一些网站可能无法连接，请按F5多次尝试刷新；</br>
		3、现在的帐号系统服务于收藏页面，后续推出其他帐号相关联服务；</br>
	</div>
{% endblock %}

{% block content %}
	<div class="row table-responsive">
		<div class="span12">
			<a name="unpaid"></a>
			<div class="text-center">
				<h2><p>收藏站点</p></h2>
			</div>
			<div class="description">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该分类下展示的是您收藏的站点，不一定非要是免费获取比特币的站点。通过点击各个站点的收藏图标来进行站点的收藏以及取消收藏。</span>
			</div>
			<table class="table table-bordered table-striped table-hover table-condensed table-layout sortable">
				<thead>
					{% include 'common/sections/theader.html' %}
				<thead>
				<tbody>
					{% for site in favsite %}
						{% include 'common/sections/tbodyer.html' %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row table-responsive">
		<div class="span12">
			<a name="unpaid"></a>
			<div class="text-center">
				<h2><p>已确认站点</p></h2>
			</div>
			<div class="description">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该分类下展示的是当前已经确认能够拿到免费比特币的站点，全部都是免费获取比特币的站点。</span>
			</div>
			<table class="table table-bordered table-striped table-hover table-condensed table-layout sortable">
				<thead>
					{% include 'common/sections/theader.html' %}
				<thead>
				<tbody>
					{% for site in proofsite %}
						{% include 'common/sections/tbodyer.html' %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row table-responsive">
		<div class="span12">
			<a name="unpaid"></a>
			<div class="text-center">
				<h2><p>最热站点</p></h2>
			</div>
			<div class="description">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该分类下展示的是当前点击量名列前茅的站点，同样不一定非要是免费获取比特币的站点。</span>
			</div>
			<table class="table table-bordered table-striped table-hover table-condensed table-layout sortable">
				<thead>
					{% include 'common/sections/theader.html' %}
				<thead>
				<tbody>
					{% for site in hottest %}
						{% include 'common/sections/tbodyer.html' %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row table-responsive">
		<div class="span12">
			<a name="unpaid"></a>
			<div class="text-center">
				<h2><p>最新站点</p></h2>
			</div>
			<div class="description">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该分类下展示的是最新加入本站的站点，也同样不一定非要是免费获取比特币的站点。</span>
			</div>
			<table class="table table-bordered table-striped table-hover table-condensed table-layout sortable">
				<thead>
					{% include 'common/sections/theader.html' %}
				<thead>
				<tbody>
					{% for site in lastest %}
						{% include 'common/sections/tbodyer.html' %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}