{% extends "common/btc.html" %}

{% block title %}
	<title>FreeBTC123 - 提交BTC相关网址</title>
{% endblock %}

{% block alert %}
{% endblock %}

{% block befcon %}
	<div class="container">
		<div class="row block">
			<div class="span12 margintb">
				<div class="hero-unit nopaddinglr nomarginb">
					<div class="divCenter">
						<form class="form-horizontal" action="{% url 'freebtc123:submitsite' %}" method='post'>
							<div class="control-group">
								<label class="control-label" for="inputSiteName"><b>网站名称：</b></label>
								<div class="controls">
									<input type="text" id="inputSiteName" name="name" placeholder="网站名称">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label vcenter" for="inputSiteDescription"><b>网站描述：</b></label>
								<div class="controls">
									<textarea id="inputSiteDescription" name="description" cols="50" rows="2" onscroll="this.rows++;" placeholder="网站描述"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSiteUrl"><b>网站网址：</b></label>
								<div class="controls">
									<input type="text" id="inputSiteUrl" name="url" placeholder="网站网址">
								</div>
							</div>
							<div class="control-group text-center">
									<button type="submit" class="btn">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}