{% extends "common/btc.html" %}

{% block title %}
    <title>FreeBTC123 - 提交BTC相关网址</title>
{% endblock %}

{% block alert %}
{% endblock %}

{% block befcon %}
    <div class="container">
        <div class="row block">
            <div class="span12 margintb">
                <div class="hero-unit nopaddinglr nomarginb">
                    <div class="divCenter">
                        {% ifequal robots True %}<div class="text-center"><span>机器爬虫你好， 机器爬虫再见</span></div></br>{% endifequal %}
                        <form class="form-horizontal" action="{% url 'freebtc123:submitsite' %}" method='post'>
                            <div class="control-group">
                                <label class="control-label" for="inputSiteName"><b>网站名称：</b></label>
                                <div class="controls">
                                    <input type="text" id="inputSiteName" name="name" placeholder="网站名称">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label vcenter" for="inputSiteDescription"><b>网站描述：</b></label>
                                <div class="controls">
                                    <textarea id="inputSiteDescription" name="description" cols="50" rows="2" onscroll="this.rows++;" placeholder="网站描述"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSiteUrl"><b>网站网址：</b></label>
                                <div class="controls">
                                    <input type="text" id="inputSiteUrl" name="url" placeholder="网站网址">
                                </div>
                            </div>
                            <div class="control-group">
                                <center>
                                    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LfWhe0SAAAAAPnt6Hwq49Yu-ejMpzf1qzOmFaF6"></script>
                                    <noscript>
                                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LfWhe0SAAAAAPnt6Hwq49Yu-ejMpzf1qzOmFaF6"height="300" width="500" frameborder="0"></iframe><br>
                                        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                                        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
                                    </noscript>
                                </center>
                            </div>
                            <div class="control-group text-center">
                                    <button type="submit" class="btn">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}