{% extends "common/btc.html" %}

{% block title %}
	<title>FreeBTC123 - 登录FreeBTC123</title>
{% endblock %}

{% block alert %}
{% endblock %}

{% block befcon %}
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<a name="unpaid"></a>
				<div class="hero-unit nopaddinglr">
					<div class="divCenter">
						<form class="form-horizontal nomarginb" action="{% url 'accounts:login' %}" method='post'>
							{% if notexists %}
								<div id="divUserName" class="control-group error">
									<label class="control-label" for="inputUserName"><b>用户名：</b></label>
									<div class="controls">
										<input type="text" id="inputUserName" name="usr" placeholder="用户名">
										<span id="spanUserName" class="help-inline">该用户名不存在</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputPassword"><b>密码：</b></label>
									<div class="controls">
										<input type="password" id="inputPassword" name="pwd" placeholder="密码">
									</div>
								</div>
							{% else %}
								<div id="divUserName" class="control-group">
									<label class="control-label" for="inputUserName"><b>用户名：</b></label>
									<div class="controls">
										<input type="text" id="inputUserName" name="usr" placeholder="用户名" onblur="userCheck()">
										<span id="spanUserName" class="help-inline hide">该用户名不存在</span>
									</div>
								</div>
								{% if pwderror %}
									<div class="control-group error">
										<label class="control-label" for="inputPassword"><b>密码：</b></label>
										<div class="controls">
											<input type="password" id="inputPassword" name="pwd" placeholder="密码">
											<span id="spanUserName" class="help-inline">密码与用户名不匹配</span>
										</div>
									</div>
								{% else %}
									<div class="control-group">
										<label class="control-label" for="inputPassword"><b>密码：</b></label>
										<div class="controls">
											<input type="password" id="inputPassword" name="pwd" placeholder="密码">
										</div>
									</div>
								{% endif %}
							{% endif %}
							<div class="control-group text-center">
								<button type="submit" class="btn">登录</button>
							</div>
							<div class="control-group text-center nomarginb">
								<nobr>还没注册帐户？</nobr><a href="{% url 'accounts:signup' %}">立即注册</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
	<script>
		function userCheck(){
			$.ajax({
				type: "post",
				url: "{% url 'accounts:usercheck' %}",
				data: {"usr": $("#inputUserName").val()},
				success: function(json){
				    jsonObj = eval ("(" + json + ")");
					if(jsonObj['errorCode'] == '100200'){
						$("#divUserName").addClass("error");
						$("#spanUserName").removeClass("hide");
						// alert('yeah');
					}else{
						$("#divUserName").removeClass("error");
						$("#spanUserName").addClass("hide");
						// alert('oh no');
					}
				}
			});
		}
	</script>
{% endblock %}