{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% block title %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="比特币，BTC，Bitcoin，疯狂比特币，山寨币，AltCoin，莱特币，LTC、阿侬币，ANC、质数币，XPM、安全币，SRC、比特股，PTS、瑞波币，XRP，免费比特币，FreeBTC，Free Bitcoin，免费领取比特币，免费获得比特币，免费获取比特币，免费送比特币，免费拿比特币，免费得比特币，比特币导航，比特币网址导航，免费比特币导航，免费比特币网址导航，山寨币导航，山寨币网址导航，比特币论坛网址导航">
	<meta name="description" content="FreeBTC123 - 挖矿获取比特币，现在俨然已成为装备竞赛的时代；没有高性能矿机，挖不倒比特币，而又想搞那么一点比特币玩玩，怎么办？免费获取比特币网址导航为您带来各种可以免费获取比特币的网站，希望对您的比特币之旅有所助益。当然，本站还囊括了山寨币网址导航、比特币论坛网址导航，借此希望全方位的让您的比特币之旅更方便快捷。">

	<!-- Le styles -->
	<link href="{% static 'css/common.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/pam.css' %}" rel="stylesheet">
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?274c8b6d6fc7792b8535960f32552b2d";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="brand" href="{% url 'freebtc123:fav' %}"><font color="#cccccc">Free</font><font
					color="#eeeeee">BTC</font><font color="gray">123</font></a>
				<div class="nav-collapse collapse">
				    <ul class="nav" id="main-menu-left">
					    <!-- http://stackoverflow.com/questions/3057318/passing-variable-urlname-to-url-tag-in-django-template -->
						{% for n in nav %}
							<li><a rel="tooltip" href="{% url 'freebtc123:'|add:n.navName %}" title="freebtc">{{ n.navTitle}}<i class="icon-share-alt"></i></a></li>
						{% endfor %}
			        </ul>
					<ul class="nav pull-right">
                        {% if usr %}					
                            <li>
                                <a>{{ usr }}</a>
                            </li>
							<li class="dropdown">
							    <a data-toggle="dropdown" class="dropdown-toggle"><strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'freebtc123:logout' %}">退出</a>
                                    </li>
                                </ul>
							</li>
                        {% else %}
						    <li>
                                <a href="{% url 'freebtc123:login' %}" id="login">登录</a>
                            </li>
                        {% endif %}						
                    </ul>
					<form class="navbar-form pull-right form-inline" action="http://www.google.com.hk/search" target="_blank">
						<input id="kw" class="span2" type="text" name="q" placeholder="Google It">
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<b>风险提示</b>：比特币的交易有<b>极高的风险</b>，它没有像中国股市那样的<b>涨跌停限制</b>，同时交易是<b>24小时开放</b>的。比特币由于筹码较少，价格<b>易受到庄家控制</b>，有可能出现一天价格涨几倍的情况，同时也可能出现<b>一天内价格跌去一半</b>的情况！<b>入市须谨慎，一定注意控制好风险！</b>
		</div>
		
		{% block alert %}
		{% endblock %}
		
		{% block befcon %}
		{% endblock %}
		
		{% block content %}
			{% for cs in csysite %}
				<div class="row table-responsive">
					<div class="span12">
						<a name="unpaid"></a>
						<h2>{{ cs.csyName|safe }}</h2>
						<div class="description">
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cs.csyDescription|safe }}</span>
						</div>
						<table class="table table-bordered table-striped table-hover table-condensed table-layout">
							<thead>
								<tr>
									<th width="16%" class="hvcenter">网站名称</th>
									<th width="*%" class="hvcenter">网站描述</th>
									<th width="16%" class="hvcenter">网站链接</th>
									<th width="16%" class="hvcenter">网站评论</th>
									<th width="16%" class="hvcenter">网站评价</th>
									<th width="8%" class="hvcenter">收藏</th>
								</tr>
							<thead>
							<tbody>
								{% for site in cs.siteSet %}
									<tr>
										<td class="hvcenter"><div class="tHeight"><span>{{ site.siteName }}</span></div></td>
										<td class="hvcenter"><div class="tHeight"><span title="{{ site.siteDescription|safe }}">{{ site.siteDescription|safe }}</span></div></td>
										<td class="hvcenter"><div class="tHeight"><a href="{% url 'freebtc123:visit' site.id %}" target="_blank" title="{{ site.siteUrl }}">{{ site.siteUrl }}</a></div></td>
										<td class="hvcenter">
											<a href="{% url 'freebtc123:evaluate' site.id %}" target="_blank"><i class="icon-eye-open"></i></a></br>
											{{ site.siteEvaluateNum }}/{{ site.siteClickNum }}
										</td>
										<td class="hvcenter">
											<div class="thumbs-up">
												{% if site.like %}
													<i id="{{ site.id }}" class="icon-thumbs-up icon-white done"></i>
												{% else %}
													<i id="{{ site.id }}" class="icon-thumbs-up"></i>
												{% endif %}
												&nbsp;&nbsp;&nbsp;&nbsp;
												<span>{{ site.siteLikeNum }}</span>
											</div>
											
											<div class="thumbs-down">
												{% if site.unlike %}
													<i id="{{ site.id }}" class="icon-thumbs-down icon-white done"></i>
												{% else %}
													<i id="{{ site.id }}" class="icon-thumbs-down"></i>
												{% endif %}
												&nbsp;&nbsp;&nbsp;&nbsp;
												<span>{{ site.siteUnlikeNum }}</span>
											</div>
										</td>
										<td class="hvcenter">
											{% if site.fav %}
											    <i id="{{ site.id }}" class="icon-bookmark icon-white done"></i></br>
											{% else %}
											    <i id="{{ site.id }}" class="icon-bookmark"></i></br>
											{% endif %}
											<span>{{ site.siteFavNum }}</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endfor %}
		{% endblock %}
		
		{% block aftcon %}
		{% endblock %}
		
		<hr>

		<footer>
			<p class="pull-right">Donate: 13Y4K9Lkrd9rCxHnF8b3axUKbjtA3ZWF1d</p>
			<p>Coments, suggestions, problems?</p>
			<p>&copy; FreeBTC123 2013</p>
			<p>Powered by <a href="http://www.brightcells.com/" target="_blank">BrightCells!</a></p>
		</footer>
		
		<a id="backtop" class="backtop" href="javascript:backtop();"></a>
	</div>
	<!-- /container -->

	<!-- Begin BShare -->
	<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#uuid=&amp;style=4&amp;fs=4&amp;bgcolor=Grey"></script>
	<!-- End BShare -->
	
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script src="{% static 'js/pam.js' %}"></script>
	<script>
	    (function(){
		    var url = window.location.pathname;
			var nav = url.split("/")[1];
			//if(nav in {"": "", "freebtc": ""}){
			if(nav in {"": "",}){
				// do nothing
			}else{
				$(".nav a").each(function(){
				    // Because of <ul class="nav pull-right"> has 'a' tag without 'href'
					// So we should judge it first
					var navHerf = this.getAttribute("href")
					if(navHerf && navHerf.indexOf(url.split("/")[1]) != -1){
						$(".nav .active").removeAttr("class");
						$(this).parent().addClass("active");
					}
				});
			}
		})();
		
		var res = ["{% static 'img/background.jpg' %}",];
		//_bg(0, res, 10000);
	</script>
	
	{% block script %}
		<script>
			$(document).ready(function(){
				$('.icon-thumbs-up').click(function(){
				    like(this, true);	 
				});
				
				$('.icon-thumbs-down').click(function(){
					like(this, false);	 
				});
				
				$('.icon-bookmark').click(function(){
					var url = "{% url 'freebtc123:favorite' %}";
					var data = {siteid:this.id};
					myLikeFavAjax(this, $(this).next().next(), url, data);
				});
			
				function like(obj, _flag){
					var url = "{% url 'freebtc123:like' %}";
					var data = {flag: _flag, siteid:obj.id};
					myLikeFavAjax(obj, $(obj).next(), url, data);
				}
			});
		</script>
	{% endblock %}
</body>
</html>
