/* - 
    common.css is must header before bootstrap-responsive(.min).css
	otherwise navbar will display error when browser half-screen
   - */
body {
	padding-top: 60px;
	padding-bottom: 20px;
	font: normal 14px/1.5 Tahoma,Helvetica,arial,sans-serif
}

/* - 
    Alignment of bootstrap's table content
    .hvcenter - 水平/垂直 居中
	.hcenter - 水平居中
	.vcenter - 垂直居中
   - */
.hvcenter, th, td {
    text-align: center !important;
    vertical-align: middle !important;
}

.hcenter {
    text-align: center !important;
}

.vcenter {
    vertical-align: middle !important;
}

/* - 
    force break long word/url etc
	to make it not overflow container
	ref: http://www.cnblogs.com/2050/archive/2012/08/10/2632256.html
   - */
.table-layout {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

/* - 
    Style of description
   - */
.description {
    padding: 8px 35px 8px 14px;
	border-top: 3px double #000;
}

/* - 
    Style of span's indentation
   - */
.description span, .alert-danger span {
	display: block;
	text-indent: 2em;
}

/* - 
    Style of back top
   - */
.backtop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	width: 49px;
	height: 35px;
	text-decoration: none;
	opacity: 0.5;
	background: url(//style.neoease.org/img/paled/sprite.png?v=010514) no-repeat 0 -424px;
}

/* - 
    Style of evaluate
   - */
.evaluate {
	padding: 0 35px 0 14px;
}

/* - 
    Style for table to both center and hidden
	ref: http://stackoverflow.com/questions/4095165/center-single-and-multi-line-li-text-vertically
   - */
.limit {
    height: 32px;
	line-height: 32px;
	overflow: hidden;
}
		
.limit span {
	display             : -moz-inline-box;  /* FF2 or lower */
	display             : inline-block;     /* FF3, Opera, Safari */
	line-height         : normal;
}

/* - 
    Separate line between thumbs-up and thumbs-down
   - */
.thumbs-up {
    border-bottom: 1px solid #ddd
}

.thumbs-down {
	border-top: 0px solid #ddd
}

/* - 
    Style of icon of some site
   - */
.icon {
	width: 32px;
	height: 32px;
}

.iconlong {
	width: 64px;
	height: 32px;
}

/* - 
    Style to make div center
   - */
.divCenter {
	margin: 0 auto;
	width: 550px;
}

.nopaddinglr {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.nopaddingb {
	padding-bottom: 0 !important;
}

.nomarginb {
	margin-bottom: 0 !important;
}

.borderlr {
	border-left: 1px solid #eee !important;
	border-right: 1px solid #eee !important;
}

/* - 
    Style for input textarea button
   - */
.controls input, .controls textarea {
	width: 250px;
}

.control-group .btn {
	width: 200px;
}

/* -
	ref: http://www.terrill.ca/sorting/table_sort_example.html
   - */
.sortable th.descend {
	background: #E4EDFC 95% 50% url('../img/caret_up.gif') no-repeat;
}

.sortable th.ascend {
	background: #E4EDFC 95% 50% url('../img/caret_down.gif') no-repeat;
}

/* - 
    Style for friend link
   - */
.pflink ul, .pflink li, .wflink ul, .wflink li {
	float: left;
	list-style-type: none;
	margin: 0 8px 3px 0;
}

.pflink img {
	width: 101px;
	height: 32px;
}

.pflink {
	margin-bottom: -3px;
}

.wflink {
	margin-top: 8px;
	border-top: 1px dashed #eee;
	padding-top: 8px;
}

/* - 
    Style for friend link
   - */
.alert p {
	margin-bottom: 0;
}

/* - 
    Style for coinurl's ads
   - */
.ads {
	padding-top: 5px;
	background-color: #fcf8e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* - 
    Style for more link in fav.html
   - */
.more {
	font-size: 16px;
}