/* - 
    common.css is must header before bootstrap-responsive(.min).css
	otherwise navbar will display error when browser half-screen
   - */
body {
	padding-top: 60px;
	padding-bottom: 20px;
	font: normal 14px/1.5 Tahoma,Helvetica,arial,sans-serif
}

/* - 
    Alignment of bootstrap's table content
    .hvcenter - 水平/垂直 居中
	.hcenter - 水平居中
	.vcenter - 垂直居中
   - */
.hvcenter, th, td {
    text-align: center !important;
    vertical-align: middle !important;
}

.hcenter {
    text-align: center !important;
}

.vcenter {
    vertical-align: middle !important;
}

/* - 
    force break long word/url etc
	to make it not overflow container
	ref: http://www.cnblogs.com/2050/archive/2012/08/10/2632256.html
   - */
.table-layout {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

/* - 
    Style of description
   - */
.description {
    padding: 8px 35px 8px 14px;
	border-top: 3px double #000;
}

/* - 
    Style of back top
   - */
.backtop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	width: 49px;
	height: 35px;
	text-decoration: none;
	opacity: 0.5;
	background: url(//style.neoease.org/img/paled/sprite.png?v=010514) no-repeat 0 -424px;
}

/* - 
    Style of evaluate
   - */
.evaluate {
	padding: 8px 35px 8px 14px;
	border-bottom: 1px groove #ddd;
}

/* - 
    Style for table to both center and hidden
	ref: http://stackoverflow.com/questions/4095165/center-single-and-multi-line-li-text-vertically
   - */
.limit {
    height: 32px;
	line-height: 32px;
	overflow: hidden;
}
		
.limit span {
	display             : -moz-inline-box;  /* FF2 or lower */
	display             : inline-block;     /* FF3, Opera, Safari */
	line-height         : normal;
}

/* - 
    Separate line between thumbs-up and thumbs-down
   - */
.thumbs-up {
    border-bottom: 1px solid #ddd
}

.thumbs-down {
	border-top: 0px solid #ddd
}

/* - 
    Style of icon of some site
   - */
.icon {
	width: 32px;
	height: 32px;
}

/* - 
    Style to make div center
   - */
.divCenter {
	margin: 0 auto;
	width: 700px;
}

.controls input, .controls textarea {
	width: 400px;
}

/* -Di
	ref: http://www.terrill.ca/sorting/table_sort_example.html
   - */
.sortable th.descend{background: #E4EDFC 95% 50% url('../img/caret_up.gif') no-repeat;}
.sortable th.ascend{background: #E4EDFC 95% 50% url('../img/caret_down.gif') no-repeat;}