{% load staticfiles %}

<tr>
	<td><div class="limit"><span title="{{ site.siteName }}">{{ site.siteName }}</span></div></td>
	<td><div class="limit"><span title="{{ site.siteDescription|safe }}">{{ site.siteDescription|safe }}</span></div></td>
	<td><div class="limit"><span><a id="{{ site.id }}" href="javascript:void(0)" target="_blank" onclick="visit('{% url 'freebtc123:visit' %}', this.id, this.title);return false;" title="{{ site.siteUrl }}">{{ site.siteUrl }}</a><span></div></td>
	<td><div class="limit"><span><a id="{{ site.id }}" href="javascript:void(0)" target="_blank" onclick="visit('{% url 'freebtc123:visit' %}', this.id, this.title);return false;" title="{{ site.siteUrlNoRefer }}">{{ site.siteUrlNoRefer }}</a><span></div></td>
	<td><div class="limit"><span style="color:red">{{ site.lefttime }}</span>/<span>{{ site.interval }}</span></div></td>
	<td><div class="limit"><span title="{{ site.lastvisittime|date:'Y-m-d H:i:s' }}">{{ site.lastvisittime|date:'Y-m-d H:i:s' }}</span></div></td>
	<td>
		<a href="{% url 'freebtc123:evaluate' site.id %}" target="_blank"><i class="icon-eye-open"></i></a></br>
		<span>{{ site.siteProofNum }}</span>/<span>{{ site.siteEvaNum }}</span>/<span>{{ site.siteClickNum }}</span>
	</td>
	<td>
		<div class="thumbs-up">
			{% if site.like %}
				<i id="{{ site.id }}" class="icon-thumbs-up icon-white done"></i>
			{% else %}
				<i id="{{ site.id }}" class="icon-thumbs-up"></i>
			{% endif %}
			&nbsp;
			<span>{{ site.siteLikeNum }}</span>
		</div>
											
		<div class="thumbs-down">
			{% if site.unlike %}
				<i id="{{ site.id }}" class="icon-thumbs-down icon-white done"></i>
			{% else %}
				<i id="{{ site.id }}" class="icon-thumbs-down"></i>
			{% endif %}
			&nbsp;
			<span>{{ site.siteUnlikeNum }}</span>
		</div>
	</td>
	<td>
		{% if site.fav %}
			<i id="{{ site.id }}" class="icon-bookmark icon-white done"></i></br>
		{% else %}
			<i id="{{ site.id }}" class="icon-bookmark"></i></br>
		{% endif %}
		<span>{{ site.siteFavNum }}</span>
	</td>
</tr>